body {
    background-color: purple;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h1 {
    color: white;
    background-color: grey;
    font-size: 50px;
    font-weight: 900;
    padding: 20px;
    margin: 20px;
}

h2 {
    color: white;
    background-color: grey;
    font-size: 25px;
    font-weight: 400;
    padding: 10px;
    margin: 20px;
}

h3 {
    color: white;
    background-color: grey;
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    margin: 20px;
}

p {
    color: white;
    text-align: justify;
    padding: 10px;
    margin: 20px;
}

li {
    color: white;
    text-align: justify;
    padding: 4px;
}

a {
    color: lightblue;
    font-size: x-large;
    font-weight: 600;
    padding: 10px;
    margin: auto;
}

img {
    padding: 20px;
}
}